body{direction: rtl;margin: 5px;}
header{background-color: aqua;
}
nav{
    background-color: rgb(226, 43, 150);
}
#flex{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 255, 255, 0.527);
    justify-content: center;
  }
  #item-flex{
   background-color: rgba(220, 236, 2, 0.705);
   margin: 5px;
   padding: 5px;
   text-emphasis-color: red;
  }
  #sitetitle{
    text-align: center;
    font-size: 20px;
    font-family: b titr;
    font-style: italic;
    color: blueviolet;}